@font-face {
   font-family: 'helvetica-light-587ebe5a59211';
   font-display: swap;
   src: url('file:///C:/Users/chris/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-05-04_211209/fonts/helvetica-light-587ebe5a59211/font.ttf');
   font-weight: 300
}
